## 2021 Visualizations

In [2]:
# import required libraries
import os
import sys
### add system path to get other library directories
sys.path[0] = os.path.join(os.path.abspath(''),'..')

import geopandas
import warnings
import pandas as pd
import math
import statistics
import matplotlib.pyplot as plt
import contextily as cx
import zipfile
import glob
warnings.filterwarnings('ignore')

In [24]:
## if file doesn't exist then unzip
if os.path.exists("/tmp/data/standard_acs_censustract_df_2021.csv"):
    ACS_MERGED_FILE = "/tmp/data/standard_acs_censustract_df_2021.csv"
else:
    with zipfile.ZipFile('/tmp/data/standard_acs_censustract_df_2021.zip', 'r') as zip_ref:
        zip_ref.extractall('/tmp/data/')
    ACS_MERGED_FILE = "/tmp/data/standard_acs_censustract_df_2021.csv"

In [25]:
# read in the file
acs_standard_df = pd.read_csv(ACS_MERGED_FILE)

In [28]:
acs_standard_df['City']

KeyError: 'City'

In [16]:
chicago_df = geopandas.read_file("/tmp/city-data/chicago/city-acs-merge-2021.geojson")

In [18]:
for i in chicago_df.columns:
    print(i + "\n")

STATEFP

COUNTYFP

tract

GEOID

NAME

NAMELSAD

MTFCC

FUNCSTAT

ALAND

AWATER

INTPTLAT

INTPTLON

index_right

objectid

shape_area

shape_len

Unnamed: 0

census_name

Estimate!!Total: TOTAL POPULATION

Estimate!!Total: SEX BY AGE

Estimate!!Total:!!Male: SEX BY AGE

Estimate!!Total:!!Male:!!Under 5 years SEX BY AGE

Estimate!!Total:!!Male:!!5 to 9 years SEX BY AGE

Estimate!!Total:!!Male:!!10 to 14 years SEX BY AGE

Estimate!!Total:!!Male:!!15 to 17 years SEX BY AGE

Estimate!!Total:!!Male:!!18 and 19 years SEX BY AGE

Estimate!!Total:!!Male:!!20 years SEX BY AGE

Estimate!!Total:!!Male:!!21 years SEX BY AGE

Estimate!!Total:!!Male:!!22 to 24 years SEX BY AGE

Estimate!!Total:!!Male:!!25 to 29 years SEX BY AGE

Estimate!!Total:!!Male:!!30 to 34 years SEX BY AGE

Estimate!!Total:!!Male:!!35 to 39 years SEX BY AGE

Estimate!!Total:!!Male:!!40 to 44 years SEX BY AGE

Estimate!!Total:!!Male:!!45 to 49 years SEX BY AGE

Estimate!!Total:!!Male:!!50 to 54 years SEX BY AGE

Estimate!!Total:!!Male:!!55 to 59 years SEX BY AGE

Estimate!!Total:!!Male:!!60 and 61 years SEX BY AGE

Estimate!!Total:!!Male:!!62 to 64 years SEX BY AGE

Estimate!!Total:!!Male:!!65 and 66 years SEX BY AGE

Estimate!!Total:!!Male:!!67 to 69 years SEX BY AGE

Estimate!!Total:!!Male:!!70 to 74 years SEX BY AGE

Estimate!!Total:!!Male:!!75 to 79 years SEX BY AGE

Estimate!!Total:!!Male:!!80 to 84 years SEX BY AGE

Estimate!!Total:!!Male:!!85 years and over SEX BY AGE

Estimate!!Total:!!Female: SEX BY AGE

Estimate!!Total:!!Female:!!Under 5 years SEX BY AGE

Estimate!!Total:!!Female:!!5 to 9 years SEX BY AGE

Estimate!!Total:!!Female:!!10 to 14 years SEX BY AGE

Estimate!!Total:!!Female:!!15 to 17 years SEX BY AGE

Estimate!!Total:!!Female:!!18 and 19 years SEX BY AGE

Estimate!!Total:!!Female:!!20 years SEX BY AGE

Estimate!!Total:!!Female:!!21 years SEX BY AGE

Estimate!!Total:!!Female:!!22 to 24 years SEX BY AGE

Estimate!!Total:!!Female:!!25 to 29 years SEX BY AGE

Estimate!!Total:!!Female:!!30 to 34 years SEX BY AGE

Estimate!!Total:!!Female:!!35 to 39 years SEX BY AGE

Estimate!!Total:!!Female:!!40 to 44 years SEX BY AGE

Estimate!!Total:!!Female:!!45 to 49 years SEX BY AGE

Estimate!!Total:!!Female:!!50 to 54 years SEX BY AGE

Estimate!!Total:!!Female:!!55 to 59 years SEX BY AGE

Estimate!!Total:!!Female:!!60 and 61 years SEX BY AGE

Estimate!!Total:!!Female:!!62 to 64 years SEX BY AGE

Estimate!!Total:!!Female:!!65 and 66 years SEX BY AGE

Estimate!!Total:!!Female:!!67 to 69 years SEX BY AGE

Estimate!!Total:!!Female:!!70 to 74 years SEX BY AGE

Estimate!!Total:!!Female:!!75 to 79 years SEX BY AGE

Estimate!!Total:!!Female:!!80 to 84 years SEX BY AGE

state

county

Estimate!!Total:!!Female:!!85 years and over SEX BY AGE

Estimate!!Total:!!Not Hispanic or Latino: HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Not Hispanic or Latino:!!White alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Not Hispanic or Latino:!!Black or African American alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Not Hispanic or Latino:!!American Indian and Alaska Native alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Not Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Not Hispanic or Latino:!!Some other race alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races: HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:!!Two races including Some other race HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino: HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino:!!White alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino:!!Black or African American alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino:!!American Indian and Alaska Native alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino:!!Asian alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino:!!Some other race alone HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino:!!Two or more races: HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races including Some other race HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races HISPANIC OR LATINO ORIGIN BY RACE

Estimate!!Total: HISPANIC OR LATINO ORIGIN

Estimate!!Total:!!Not Hispanic or Latino HISPANIC OR LATINO ORIGIN

Estimate!!Total:!!Hispanic or Latino HISPANIC OR LATINO ORIGIN

Estimate!!Total living in area 1 year ago: GEOGRAPHICAL MOBILITY IN THE PAST YEAR (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE) FOR RESIDENCE 1 YEAR AGO IN THE UNITED STATES

Estimate!!Total: PLACE OF BIRTH BY YEAR OF ENTRY FOR THE FOREIGN-BORN POPULATION

Estimate!!Median household income in the past 12 months (in 2020 inflation-adjusted dollars) MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2020 INFLATION-ADJUSTED DOLLARS)

Estimate!!Median family income in the past 12 months--!!Total: MEDIAN FAMILY INCOME FOR FAMILIES WITH GRANDPARENT HOUSEHOLDERS AND/OR SPOUSES LIVING WITH OWN GRANDCHILDREN UNDER 18 YEARS BY RESPONSIBILITY FOR OWN GRANDCHILDREN AND PRESENCE OF PARENT OF GRANDCHILDREN

Estimate!!Median family income in the past 12 months (in 2020 inflation-adjusted dollars) MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN 2020 INFLATION-ADJUSTED DOLLARS)

Estimate!!Total: RECEIPT OF SUPPLEMENTAL SECURITY INCOME (SSI), CASH PUBLIC ASSISTANCE INCOME, OR FOOD STAMPS/SNAP IN THE PAST 12 MONTHS BY HOUSEHOLD TYPE FOR CHILDREN UNDER 18 YEARS IN HOUSEHOLDS

Estimate!!Gini Index GINI INDEX OF INCOME INEQUALITY

Estimate!!Median gross rent MEDIAN GROSS RENT (DOLLARS)

Estimate!!Total:!!Car, truck, or van - drove alone: MEANS OF TRANSPORTATION TO WORK BY AGE FOR WORKPLACE GEOGRAPHY

Estimate!!Total:!!Car, truck, or van - carpooled: MEANS OF TRANSPORTATION TO WORK BY AGE FOR WORKPLACE GEOGRAPHY

Estimate!!Total:!!Public transportation (excluding taxicab): MEANS OF TRANSPORTATION TO WORK BY AGE FOR WORKPLACE GEOGRAPHY

Estimate!!Total:!!Walked: MEANS OF TRANSPORTATION TO WORK BY AGE FOR WORKPLACE GEOGRAPHY

Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means: MEANS OF TRANSPORTATION TO WORK BY AGE FOR WORKPLACE GEOGRAPHY

Estimate!!Total:!!Worked from home: MEANS OF TRANSPORTATION TO WORK BY AGE FOR WORKPLACE GEOGRAPHY

Estimate!!Aggregate travel time to work (in minutes): AGGREGATE TRAVEL TIME TO WORK (IN MINUTES) OF WORKERS BY PLACE OF WORK--STATE AND COUNTY LEVEL

Estimate!!Total: MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Car, truck, or van: MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Car, truck, or van:!!Drove alone MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Car, truck, or van:!!Carpooled: MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 2-person carpool MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 3-person carpool MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 4-person carpool MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 5- or 6-person carpool MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Car, truck, or van:!!Carpooled:!!In 7-or-more-person carpool MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Public transportation (excluding taxicab): MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Public transportation (excluding taxicab):!!Bus MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Public transportation (excluding taxicab):!!Subway or elevated rail MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Public transportation (excluding taxicab):!!Long-distance train or commuter rail MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Public transportation (excluding taxicab):!!Light rail, streetcar or trolley (carro público in Puerto Rico) MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Public transportation (excluding taxicab):!!Ferryboat MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Taxicab MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Motorcycle MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Bicycle MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Walked MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Other means MEANS OF TRANSPORTATION TO WORK

Estimate!!Total:!!Worked from home MEANS OF TRANSPORTATION TO WORK

Estimate!!Total: ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER

Estimate!!Total:!!Allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER

Estimate!!Total:!!Not allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER

geometry

In [22]:
chicago_df

,STATEFP,COUNTYFP,tract,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,Estimate!!Total:!!Taxicab MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Motorcycle MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Bicycle MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Walked MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Other means MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Worked from home MEANS OF TRANSPORTATION TO WORK,Estimate!!Total: ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER,Estimate!!Total:!!Allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER,Estimate!!Total:!!Not allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER,geometry
0,17,031,221000,17031221000,CHICAGO,Census Tract 2210,G5020,S,220053,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-87.71699 41.92460, -87.71675 41.924..."
1,17,031,221000,17031221000,CHICAGO,Census Tract 2210,G5020,S,220053,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-87.71699 41.92460, -87.71675 41.924..."
2,17,031,221000,17031221000,CHICAGO,Census Tract 2210,G5020,S,220053,0,...,0.0,0.0,0.0,2.0,7.0,45.0,3646.0,16.0,3630.0,"POLYGON ((-87.71699 41.92460, -87.71675 41.924..."
3,17,031,221000,17031221000,CHICAGO,Census Tract 2210,G5020,S,220053,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-87.71699 41.92460, -87.71675 41.924..."
4,17,031,221000,17031221000,CHICAGO,Census Tract 2210,G5020,S,220053,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-87.71699 41.92460, -87.71675 41.924..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8278,17,031,830700,17031830700,CHICAGO,Census Tract 8307,G5020,S,861986,7945,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-87.66595 41.96164, -87.66575 41.961..."
8279,17,031,830700,17031830700,CHICAGO,Census Tract 8307,G5020,S,861986,7945,...,0.0,0.0,0.0,33.0,30.0,380.0,3874.0,410.0,3464.0,"POLYGON ((-87.66595 41.96164, -87.66575 41.961..."
8280,17,031,834700,17031834700,CHICAGO,Census Tract 8347,G5020,S,657991,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-87.65002 41.79424, -87.64986 41.794..."
8281,17,031,834700,17031834700,CHICAGO,Census Tract 8347,G5020,S,657991,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-87.65002 41.79424, -87.64986 41.794..."
8282,17,031,834700,17031834700,CHICAGO,Census Tract 8347,G5020,S,657991,0,...,0.0,0.0,0.0,16.0,0.0,0.0,1085.0,2.0,1083.0,"POLYGON ((-87.65002 41.79424, -87.64986 41.794..."