## 2021 Visualizations

In [1]:
# import required libraries
import os
import sys
### add system path to get other library directories
sys.path[0] = os.path.join(os.path.abspath(''),'..')

import geopandas
import warnings
import pandas as pd
import math
import statistics
import matplotlib.pyplot as plt
import contextily as cx
import zipfile
import glob
warnings.filterwarnings('ignore')

In [2]:
## if file doesn't exist then unzip
if os.path.exists("/tmp/data/standard_acs_censustract_df_2021.csv"):
    ACS_MERGED_FILE = "/tmp/data/standard_acs_censustract_df_2021.csv"
else:
    with zipfile.ZipFile('/tmp/data/standard_acs_censustract_df_2021.zip', 'r') as zip_ref:
        zip_ref.extractall('/tmp/data/')
    ACS_MERGED_FILE = "/tmp/data/standard_acs_censustract_df_2021.csv"

In [3]:
# read in the file
acs_standard_df = pd.read_csv(ACS_MERGED_FILE)

In [8]:
acs_standard_df.shape

(126565, 118)

In [7]:
acs_standard_df.drop(columns=['Unnamed: 0'])

,state,county,STATEFP,COUNTYFP,geometry,Estimate!!Total: TOTAL POPULATION,Estimate!!Total: SEX BY AGE,Estimate!!Total:!!Male: SEX BY AGE,Estimate!!Total:!!Male:!!Under 5 years SEX BY AGE,Estimate!!Total:!!Male:!!5 to 9 years SEX BY AGE,...,Estimate!!Total:!!Public transportation (excluding taxicab):!!Ferryboat MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Taxicab MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Motorcycle MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Bicycle MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Walked MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Other means MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Worked from home MEANS OF TRANSPORTATION TO WORK,Estimate!!Total: ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER,Estimate!!Total:!!Not allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER,City
0,25.0,17.0,25,17,"POLYGON ((-71.196879 42.354134, -71.1968629999...",4875.0,4875.0,2668.0,200.0,127.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,boston
1,25.0,17.0,25,17,"POLYGON ((-71.196879 42.354134, -71.1968629999...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,boston
2,25.0,17.0,25,17,"POLYGON ((-71.196879 42.354134, -71.1968629999...",NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,38.0,86.0,20.0,400.0,4754.0,4257.0,boston
3,25.0,17.0,25,17,"POLYGON ((-71.199533 42.342215, -71.199506 42....",6081.0,6081.0,3030.0,63.0,187.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,boston
4,25.0,17.0,25,17,"POLYGON ((-71.199533 42.342215, -71.199506 42....",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,boston
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126560,53.0,33.0,11,1,"POLYGON ((-77.02191500000001 38.893573, -77.02...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,washington-dc
126561,53.0,33.0,11,1,"POLYGON ((-77.02191500000001 38.893573, -77.02...",NaN,NaN,NaN,NaN,NaN,...,0.0,64.0,0.0,201.0,113.0,33.0,1243.0,6122.0,6034.0,washington-dc
126562,11.0,1.0,11,1,"POLYGON ((-77.02191500000001 38.893573, -77.02...",1872.0,1872.0,793.0,27.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,washington-dc
126563,11.0,1.0,11,1,"POLYGON ((-77.02191500000001 38.893573, -77.02...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,washington-dc
126564,11.0,1.0,11,1,"POLYGON ((-77.02191500000001 38.893573, -77.02...",NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,11.0,350.0,9.0,210.0,1817.0,1768.0,washington-dc