In [1]:
import pandas as pd
import geopandas as gpd
import os

In [2]:
path_base = r'/Users/sarahlueling/Desktop/DSC/broadbandequity/Merge_ACS-CDC'
path1 = os.path.join(path_base, "PLACES__Local_Data_for_Better_Health__Census_Tract_Data_2022_release.csv")
path2 = os.path.join(path_base, "standard_acs_censustract_df_2017.csv")
path3 = os.path.join(path_base, "standard_acs_censustract_df_2021.csv")

In [3]:
df_cdc = pd.read_csv(path1)
df_standard_2017 = pd.read_csv(path2)
df_standard_2021 = pd.read_csv(path3)

/var/folders/4j/kjg2tcz949j86xyl6sgyx_wr0000gn/T/ipykernel_17853/2398676244.py:2: DtypeWarning: Columns (288) have mixed types. Specify dtype option on import or set low_memory=False.
  df_standard_2017 = pd.read_csv(path2)
/var/folders/4j/kjg2tcz949j86xyl6sgyx_wr0000gn/T/ipykernel_17853/2398676244.py:3: DtypeWarning: Columns (195) have mixed types. Specify dtype option on import or set low_memory=False.
  df_standard_2021 = pd.read_csv(path3)

In [4]:
values_to_keep = ['Physical health not good for >=14 days among adults aged >=18 years', 'Visits to dentist or dental clinic among adults aged >=18 years', 
                    'Cholesterol screening among adults aged >=18 years',  'Fair or poor self-rated health status among adults aged >=18 years',
                 'Visits to doctor for routine checkup within the past year among adults aged >=18 years',  'Cervical cancer screening among adult women aged 21-65 years',  
                  'Taking medicine for high blood pressure control among adults aged >=18 years with high blood pressure', 'Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50-75 years',
                 'High cholesterol among adults aged >=18 years who have been screened in the past 5 years',  'Older adult women aged >=65 years who are up to date on a core set of clinical preventive services: Flu shot past year, PPV shot ever, Colorectal cancer screening, and Mammogram past 2 years']

In [5]:
final_df_cdc = df_cdc[df_cdc['Measure'].isin(values_to_keep)]

In [6]:
final_df_cdc = final_df_cdc.rename(columns={'LocationID': 'GEOID'})

In [7]:
#Convert 4 digit to 5 digit countyfips by adding a zero at the beginning, same with locationid

In [8]:
#Clean ACF dataframes 2017

In [9]:
threshold = len(df_standard_2017) * 0.5

In [10]:
final_df_standard_2017 = df_standard_2017.dropna(thresh=threshold, axis=1)

In [11]:
final_df_standard_2017 = final_df_standard_2017.iloc[:, :-3]

In [12]:
num_cols = len(final_df_standard_2017.columns)

print("The number of columns in the file is: ", num_cols)

The number of columns in the file is:  280

In [13]:
#Clean ACF dataframes 2020

In [14]:
threshold = len(df_standard_2021) * 0.5

final_df_standard_2021 = df_standard_2021.dropna(thresh=threshold, axis=1)

final_df_standard_2021 = final_df_standard_2021.iloc[:, :-3]

In [15]:
#Transpose data to create column showing year of dataframe

In [16]:
new_column_names = {col: col.replace("_tct21", "") for col in final_df_standard_2021.columns}
final_df_standard_2021_new = final_df_standard_2021.rename(columns=new_column_names)

In [17]:
new_column_names = {col: col.replace("_tct17", "") for col in final_df_standard_2017.columns}
final_df_standard_2017_new = final_df_standard_2017.rename(columns=new_column_names)

In [18]:
cols_only_in_df1 = set(final_df_standard_2017_new.columns) - set(final_df_standard_2021_new.columns)
cols_only_in_df2 = set(final_df_standard_2021_new.columns) - set(final_df_standard_2017_new.columns)

print("Columns only in df1:", cols_only_in_df1)
print("Columns only in df2:", cols_only_in_df2)

Columns only in df1: {'PERC Est_Total: Public transportation (excluding taxicab): Light rail, streetcar or trolley (carro p√∫blico in Puerto Rico) MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Car, truck, or van: Carpooled: In 5- or 6-person carpool MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Female: 10 to 14 years SEX BY AGE', 'PERC Est_Total: Car, truck, or van: Carpooled: In 3-person carpool MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Walked MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Female: HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE', 'PERC Est_Total: No Internet access: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Male: 25 to 29 years SEX BY AGE', 'PERC Est_Total: Male: 5 to 9 years SEX BY AGE', 'PERC Est_Total: Male: 75 to 79 years SEX BY AGE', 'PERC Est_Total: Female: 67 to 69 years SEX BY AGE', 'PERC Est_Total: Male: 30 to 34 years SEX BY AGE', 'PERC Est_Total: Female: 5 to 9 years SEX BY AGE', 'PERC Est_Total: Male: 18 and 19 years SEX BY AGE', 'PERC Est_Total: Allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER', 'PERC Est_Total: With an Internet subscription Dial-up with no other type of Internet subscription: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Female: SEX BY AGE', 'PERC Est_Total: Female: 20 years SEX BY AGE', 'PERC Est_Total: Male: 55 to 59 years SEX BY AGE', 'PERC Est_Total: Female: 35 to 39 years SEX BY AGE', 'PERC Est_Total: Male: 62 to 64 years SEX BY AGE', 'PERC Est_Total: Male: 35 to 39 years SEX BY AGE', 'PERC Est_Total: Female: 21 years SEX BY AGE', 'PERC Est_Total: SEX BY AGE', 'PERC Est_Total: With an Internet subscription Broadband of any type: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: With an Internet subscription Broadband such as cable, fiber optic or DSL Broadband such as cable, fiber optic or DSL with no other type of Internet subscription: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Female: 55 to 59 years SEX BY AGE', 'PERC Est_Total: With an Internet subscription Satellite Internet service: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: With an Internet subscription: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Male: 50 to 54 years SEX BY AGE', 'PERC Est_Total: HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE', 'PERC Est_Total: Public transportation (excluding taxicab): Ferryboat MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Car, truck, or van: Drove alone MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Male: 70 to 74 years SEX BY AGE', 'PERC Est_Total: Motorcycle MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Female: 45 to 49 years SEX BY AGE', 'PERC Est_Total: Female: Under 5 years SEX BY AGE', 'PERC Est_Total: Female: 80 to 84 years SEX BY AGE', 'PERC Est_Total: Male: 22 to 24 years SEX BY AGE', 'PERC Est_Total: Female: 62 to 64 years SEX BY AGE', 'PERC Est_Total: Male: 40 to 44 years SEX BY AGE', 'PERC Est_Total: ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER', 'PERC Est_Total: Male: 45 to 49 years SEX BY AGE', 'PERC Est_Total: Male: 60 and 61 years SEX BY AGE', 'PERC Est_Total: Female: 75 to 79 years SEX BY AGE', 'PERC Est_Total: Car, truck, or van: MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Car, truck, or van: Carpooled: In 7-or-more-person carpool MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE', 'PERC Est_Total: Public transportation (excluding taxicab): Long-distance train or commuter rail MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Female: 70 to 74 years SEX BY AGE', 'PERC Est_Total: With an Internet subscription Broadband such as cable, fiber optic or DSL: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Female: 22 to 24 years SEX BY AGE', 'PERC Est_Total: Female: 30 to 34 years SEX BY AGE', 'PERC Est_Total: Female: 60 and 61 years SEX BY AGE', 'PERC Est_Total: Taxicab MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Car, truck, or van: Carpooled: In 2-person carpool MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Car, truck, or van: Carpooled: In 4-person carpool MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Female: 15 to 17 years SEX BY AGE', 'PERC Est_Total: Female: 18 and 19 years SEX BY AGE', 'PERC Est_Total: Male: 10 to 14 years SEX BY AGE', 'PERC Est_Total: Male: 65 and 66 years SEX BY AGE', 'PERC Est_Total: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Internet access without a subscription: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Public transportation (excluding taxicab): Bus MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Male: 21 years SEX BY AGE', 'PERC Est_Total: Public transportation (excluding taxicab): MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Female: PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE', 'PERC Est_Total: Male: 15 to 17 years SEX BY AGE', 'PERC Est_Total: Public transportation (excluding taxicab): Subway or elevated rail MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Male: PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE', 'PERC Est_Total: Not allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER', 'PERC Est_Total: Bicycle MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Male: 67 to 69 years SEX BY AGE', 'PERC Est_Total: Worked from home MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Male: 20 years SEX BY AGE', 'PERC Est_Total: Female: PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE', 'PERC Est_Total: Male: 85 years and over SEX BY AGE', 'PERC Est_Total: Female: 25 to 29 years SEX BY AGE', 'PERC Est_Total: Car, truck, or van: Carpooled: MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Female: 85 years and over SEX BY AGE', 'PERC Est_Total: With an Internet subscription Satellite Internet service Satellite Internet service with no other type of Internet subscription: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Male: SEX BY AGE', 'PERC Est_Total: PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE', 'PERC Est_Total: Female: 40 to 44 years SEX BY AGE', 'PERC Est_Total: Male: PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE', 'PERC Est_Total: With an Internet subscription Other service with no other type of Internet subscription: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: With an Internet subscription Cellular data plan Cellular data plan with no other type of Internet subscription: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Male: HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE', 'PERC Est_Total: Female: 65 and 66 years SEX BY AGE', 'PERC Est_Total: With an Internet subscription Cellular data plan: PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD', 'PERC Est_Total: Other means MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: MEANS OF TRANSPORTATION TO WORK', 'PERC Est_Total: Female: 50 to 54 years SEX BY AGE', 'PERC Est_Total: Male: 80 to 84 years SEX BY AGE'}
Columns only in df2: {'Est_Total: PLACE OF BIRTH BY YEAR OF ENTRY FOR THE FOREIGN-BORN POPULATION'}

In [19]:
final_df_standard_2017_new = final_df_standard_2021_new.drop('Est_Total: PLACE OF BIRTH BY YEAR OF ENTRY FOR THE FOREIGN-BORN POPULATION', axis=1)

In [20]:
final_df_standard_2017_new['Year'] = 2017

In [21]:
final_df_standard_2021_new['Year'] = 2021

In [22]:
stacked_df = pd.concat([final_df_standard_2017_new, final_df_standard_2021_new], axis=0)

In [23]:
column_names = print(final_df_cdc.columns.tolist())

['Year', 'StateAbbr', 'StateDesc', 'CountyName', 'CountyFIPS', 'LocationName', 'Category', 'Measure', 'Data_Value_Unit', 'Data_Value', 'Low_Confidence_Limit', 'High_Confidence_Limit', 'TotalPopulation', 'Geolocation', 'GEOID', 'CategoryID', 'MeasureId', 'Short_Question_Text']

In [25]:
stacked_df['GEOID'] = stacked_df['GEOID'].astype('object')

In [26]:
final_df_cdc['GEOID'] = final_df_cdc['GEOID'].astype('object')

In [27]:
print(final_df_cdc.dtypes)

Year                       int64
StateAbbr                 object
StateDesc                 object
CountyName                object
CountyFIPS                 int64
LocationName               int64
Category                  object
Measure                   object
Data_Value_Unit           object
Data_Value               float64
Low_Confidence_Limit     float64
High_Confidence_Limit    float64
TotalPopulation            int64
Geolocation               object
GEOID                     object
CategoryID                object
MeasureId                 object
Short_Question_Text       object
dtype: object

In [28]:
final_df_standard_2017_new['GEOID'] = final_df_standard_2017_new['GEOID'].astype('object')

In [29]:
print(final_df_cdc.dtypes)

Year                       int64
StateAbbr                 object
StateDesc                 object
CountyName                object
CountyFIPS                 int64
LocationName               int64
Category                  object
Measure                   object
Data_Value_Unit           object
Data_Value               float64
Low_Confidence_Limit     float64
High_Confidence_Limit    float64
TotalPopulation            int64
Geolocation               object
GEOID                     object
CategoryID                object
MeasureId                 object
Short_Question_Text       object
dtype: object

In [30]:
final_df_standard_2021_new['GEOID'] = final_df_standard_2017_new['GEOID'].astype('object')

In [31]:
stacked_df

,City,tract,state,county,GEOID,geometry,Est_Total: TOTAL POPULATION,Est_Total: SEX BY AGE,Est_Total: Male: SEX BY AGE,Est_Total: Male: Under 5 years SEX BY AGE,...,PERC Est_Total: GED or alternative credential: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,"PERC Est_Total: Some college, less than 1 year: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER","PERC Est_Total: Some college, 1 or more years, no degree: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER",PERC Est_Total: Associate's degree: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,PERC Est_Total: Bachelor's degree: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,PERC Est_Total: Master's degree: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,PERC Est_Total: Professional school degree: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,PERC Est_Total: Doctorate degree: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER,Year,Est_Total: PLACE OF BIRTH BY YEAR OF ENTRY FOR THE FOREIGN-BORN POPULATION
0,arlington,122802,48,439,48439122802,"POLYGON ((-97.11235000000001 32.708433, -97.11...",5908.0,5908.0,2865.0,350.0,...,0.022989,0.105566,0.127344,0.045372,0.100726,0.026618,0.002117,0.008167,2017,NaN
1,arlington,121905,48,439,48439121905,"POLYGON ((-97.08042399999999 32.706192, -97.08...",5334.0,5334.0,2765.0,369.0,...,0.039044,0.020868,0.118815,0.024907,0.111410,0.048805,0.000000,0.000000,2017,NaN
2,arlington,113116,48,439,48439113116,"POLYGON ((-97.072943 32.779226, -97.0726290000...",4396.0,4396.0,2199.0,178.0,...,0.039688,0.058345,0.233039,0.101425,0.147558,0.055631,0.006445,0.016621,2017,NaN
3,arlington,101302,48,439,48439101302,"POLYGON ((-97.23645500000001 32.731951, -97.23...",3372.0,3372.0,1547.0,98.0,...,0.114815,0.122751,0.144444,0.057143,0.113757,0.005291,0.012698,0.000529,2017,NaN
4,arlington,121606,48,439,48439121606,"POLYGON ((-97.21003 32.721601, -97.20997800000...",3685.0,3685.0,1739.0,84.0,...,0.042706,0.034014,0.100907,0.058579,0.252457,0.208995,0.012850,0.019652,2017,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22205,wichita,7102,20,173,20173007102,"POLYGON ((-97.25022 37.664684, -97.24887099999...",5287.0,5287.0,2821.0,216.0,...,0.077829,0.034009,0.199477,0.121975,0.245585,0.083061,0.007521,0.009810,2021,350.0
22206,wichita,10801,20,173,20173010801,"POLYGON ((-97.280646 37.741353, -97.280641 37....",2290.0,2290.0,936.0,62.0,...,0.051609,0.085121,0.131367,0.132708,0.334450,0.069035,0.010724,0.026810,2021,319.0
22207,wichita,9603,20,173,20173009603,"POLYGON ((-97.425883 37.610246, -97.425758 37....",2893.0,2893.0,1360.0,98.0,...,0.022005,0.082152,0.173105,0.084597,0.192665,0.047433,0.003423,0.000000,2021,329.0
22208,wichita,7101,20,173,20173007101,"POLYGON ((-97.253666 37.677585, -97.2536560000...",2104.0,2104.0,1144.0,54.0,...,0.146487,0.095665,0.186846,0.100149,0.139013,0.035874,0.006726,0.005232,2021,161.0
22209,wichita,10115,20,173,20173010115,"POLYGON ((-97.22626 37.722975, -97.22626 37.72...",8727.0,8727.0,4273.0,306.0,...,0.019876,0.044720,0.070985,0.038864,0.384916,0.197161,0.100089,0.048270,2021,1046.0

In [32]:
print(stacked_df.dtypes)

City                                                                                                        object
tract                                                                                                        int64
state                                                                                                        int64
county                                                                                                       int64
GEOID                                                                                                       object
                                                                                                            ...
PERC Est_Total: Master's degree: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER               float64
PERC Est_Total: Professional school degree: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER    float64
PERC Est_Total: Doctorate degree: EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER              float64
Year                                                                                                         int64
Est_Total: PLACE OF BIRTH BY YEAR OF ENTRY FOR THE FOREIGN-BORN POPULATION                                 float64
Length: 188, dtype: object

In [33]:
merged_cdc_acs = final_df_cdc.merge(final_df_standard_2021_new, on = "GEOID")

In [34]:
merged_cdc_acs_2017 = final_df_cdc.merge(final_df_standard_2017_new, on = "GEOID")

In [35]:
merged_cdc_acs_2021 = final_df_cdc.merge(stacked_df, on = "GEOID")

In [36]:
merged_cdc_acs.to_csv('/Users/sarahlueling/Desktop/DSC/broadbandequity/Merge_ACS-CDC/merged_cdc_acs.csv')

In [37]:
merged_cdc_acs_2017.to_csv('/Users/sarahlueling/Desktop/DSC/broadbandequity/Merge_ACS-CDC/merged_cdc_acs_2017.csv')

In [38]:
merged_cdc_acs_2021.to_csv('/Users/sarahlueling/Desktop/DSC/broadbandequity/Merge_ACS-CDC/merged_cdc_acs_2021.csv')