In [10]:
import pandas as pd
### add system path to get other library directories

# load ACS data 
acs_df = pd.read_csv('/tmp/data/acs_5yr_2016.csv')

/tmp/notebooks

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
acs_df.head()

,Unnamed: 0,census_name,Estimate!!Total: TOTAL POPULATION,Estimate!!Total: SEX BY AGE,Estimate!!Total:!!Male: SEX BY AGE,Estimate!!Total:!!Male:!!Under 5 years SEX BY AGE,Estimate!!Total:!!Male:!!5 to 9 years SEX BY AGE,Estimate!!Total:!!Male:!!10 to 14 years SEX BY AGE,Estimate!!Total:!!Male:!!15 to 17 years SEX BY AGE,Estimate!!Total:!!Male:!!18 and 19 years SEX BY AGE,...,Estimate!!Total:!!Public transportation (excluding taxicab):!!Ferryboat MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Taxicab MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Motorcycle MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Bicycle MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Walked MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Other means MEANS OF TRANSPORTATION TO WORK,Estimate!!Total:!!Worked from home MEANS OF TRANSPORTATION TO WORK,Estimate!!Total: ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER,Estimate!!Total:!!Allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER,Estimate!!Total:!!Not allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER
0,0,"Census Tract 113, Dallas County, Texas",4985.0,4985.0,2031.0,72.0,101.0,195.0,58.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"Census Tract 122.09, Dallas County, Texas",3459.0,3459.0,1728.0,224.0,98.0,205.0,45.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"Census Tract 128, Dallas County, Texas",7520.0,7520.0,3835.0,248.0,249.0,96.0,165.0,255.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"Census Tract 137.25, Dallas County, Texas",4405.0,4405.0,2051.0,275.0,164.0,217.0,15.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"Census Tract 138.04, Dallas County, Texas",3428.0,3428.0,1621.0,180.0,97.0,152.0,30.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN