In [133]:
import pandas as pd

In [134]:
acs_df = pd.read_csv('../data/acs_data/acs_5yr_2016.csv')

/Users/victoriakielb/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3319: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [135]:
acs_df.head()

,Unnamed: 0,census_name,Estimate!!Total: TOTAL POPULATION,Estimate!!Total: SEX BY AGE,Estimate!!Total:!!Male: SEX BY AGE,Estimate!!Total:!!Male:!!Under 5 years SEX BY AGE,Estimate!!Total:!!Male:!!5 to 9 years SEX BY AGE,Estimate!!Total:!!Male:!!10 to 14 years SEX BY AGE,Estimate!!Total:!!Male:!!15 to 17 years SEX BY AGE,Estimate!!Total:!!Male:!!18 and 19 years SEX BY AGE,...,Estimate!!Total:!!Not allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER,Estimate!!Total: HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,Estimate!!Total:!!Male: HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,Estimate!!Total:!!Female: HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,Estimate!!Total: PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total:!!Male: PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total:!!Female: PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total: PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total:!!Male: PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total:!!Female: PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE
0,0,"Census Tract 113, Dallas County, Texas",4985.0,4985.0,2031.0,72.0,101.0,195.0,58.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"Census Tract 122.09, Dallas County, Texas",3459.0,3459.0,1728.0,224.0,98.0,205.0,45.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"Census Tract 128, Dallas County, Texas",7520.0,7520.0,3835.0,248.0,249.0,96.0,165.0,255.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"Census Tract 137.25, Dallas County, Texas",4405.0,4405.0,2051.0,275.0,164.0,217.0,15.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"Census Tract 138.04, Dallas County, Texas",3428.0,3428.0,1621.0,180.0,97.0,152.0,30.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
# cleaning column names
acs_df_clean = acs_df.rename(columns={"Estimate!!Total:!!Not Hispanic or Latino: HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!White alone HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L: White alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Black or African American alone HISPANIC OR LATINO ORIGIN BY RACE":"Not H/L: Black alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!American Indian and Alaska Native alone HISPANIC OR LATINO ORIGIN BY RACE":"Not H/L: American Indian/Native alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L: Asian alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone HISPANIC OR LATINO ORIGIN BY RACE" : "Not H/L: Native Hawaiian / PI alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Some other race alone HISPANIC OR LATINO ORIGIN BY RACE":"Not H/L: Other race alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races: HISPANIC OR LATINO ORIGIN BY RACE":"Not H/L: Two or more races",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:!!Two races including Some other race HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L: Two races including other race",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L: Two races excluding other race, and three+ races",
                      "Estimate!!Total:!!Hispanic or Latino: HISPANIC OR LATINO ORIGIN BY RACE": "H/L",
                      "Estimate!!Total:!!Hispanic or Latino:!!White alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: White alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Black or African American alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Black alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!American Indian and Alaska Native alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: American Indian/Native alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Asian alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Asian alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Native Hawaiian / PI alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Some other race alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Other race alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Two or more races: HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Two or more races",
                      "Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races including Some other race HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Two races including other race",
                      "Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Two races excluding other race, and three+ races"
                      })

In [137]:
# applying cleaned column names to original dataset
acs_df = acs_df_clean

In [138]:
# cleaning column names v2 and conglomerating "Other" race
acs_df['Hispanic (of any race)'] = acs_df['H/L']
acs_df['Non-Hispanic White'] = acs_df['Not H/L: White alone']
acs_df['Non-Hispanic Black'] = acs_df['Not H/L: Black alone']
acs_df['Non-Hispanic Asian'] = acs_df['Not H/L: Asian alone']
acs_df['Non-Hispanic American Indian'] = acs_df['Not H/L: American Indian/Native alone']
acs_df['Non-Hispanic Other'] = acs_df['Not H/L: Native Hawaiian / PI alone'] + acs_df['Not H/L: Other race alone'] + acs_df['Not H/L: Two or more races']

In [143]:
# creating total population column
acs_df['Total Population'] = acs_df['H/L'] + acs_df['Not H/L: White alone'] + acs_df['Not H/L: Black alone'] + acs_df['Not H/L: Asian alone'] + acs_df['Not H/L: American Indian/Native alone'] + acs_df['Non-Hispanic Other']

In [144]:
# creating race pct columns per census tract
acs_df['% Hispanic (of any race)'] = ((acs_df['Hispanic (of any race)']/acs_df['Total Population'])*100)
acs_df['% Non-Hispanic White'] = ((acs_df['Non-Hispanic White']/acs_df['Total Population'])*100)
acs_df['% Non-Hispanic Black'] = ((acs_df['Non-Hispanic Black']/acs_df['Total Population'])*100)
acs_df['% Non-Hispanic Asian'] = ((acs_df['Non-Hispanic Asian']/acs_df['Total Population'])*100)
acs_df['% Non-Hispanic American Indian'] = ((acs_df['Non-Hispanic American Indian']/acs_df['Total Population'])*100)
acs_df['% Non-Hispanic Other'] = ((acs_df['Non-Hispanic Other']/acs_df['Total Population'])*100)