In [21]:
from fetch_census_data import acs5_aggregate, acs5_individual, acs5_profile
from fetch_fcc_data import fcc_fixed

In [26]:
fetch_census_data.acs5_aggregate(force_api_call=True)

,B01003_001E,B28002_004E,B28002_013E,B28003_002E,B28003_004E,B28003_005E,B28003_006E,state,county,tract
0,1825,392,149,426,392,34,149,17,031,630200
1,5908,1242,231,1411,1242,169,133,17,031,580700
2,3419,917,140,1068,917,140,104,17,031,590600
3,2835,917,138,1003,917,86,81,17,031,600700
4,1639,322,245,356,322,34,218,17,031,611900
...,...,...,...,...,...,...,...,...,...,...
1314,4088,1125,777,1556,1079,477,424,17,031,440101
1315,3473,1071,544,1326,1061,265,339,17,031,440102
1316,3012,1088,449,1260,1064,186,337,17,031,440202
1317,3634,888,223,959,864,95,195,17,031,460301
1318,3322,899,199,945,899,46,164,17,031,460302

In [27]:
fetch_census_data.acs5_profile(force_api_call=True)

,DP02_0001E,DP02_0152E,DP02_0152PE,DP02_0153E,DP02_0153PE,DP03_0062E,DP03_0119PE,DP05_0001E,DP05_0071E,DP05_0071PE,DP05_0078E,DP05_0078PE,state,county,tract
0,575,426,74.1,392,68.2,37422,25.7,1825,1622,88.9,0,0.0,17,031,630200
1,1544,1411,91.4,1242,80.4,47000,17.4,5908,4742,80.3,161,2.7,17,031,580700
2,1172,1068,91.1,917,78.2,46033,7.9,3419,2119,62.0,9,0.3,17,031,590600
3,1084,1003,92.5,917,84.6,45294,17.0,2835,850,30.0,82,2.9,17,031,600700
4,574,356,62.0,322,56.1,24507,55.0,1639,438,26.7,1175,71.7,17,031,611900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,1980,1556,78.6,1125,56.8,20404,37.7,4088,14,0.3,3966,97.0,17,031,440101
1315,1665,1326,79.6,1071,64.3,32047,27.2,3473,80,2.3,3138,90.4,17,031,440102
1316,1597,1260,78.9,1088,68.1,35795,21.3,3012,82,2.7,2851,94.7,17,031,440202
1317,1154,959,83.1,888,76.9,34483,33.8,3634,1040,28.6,2524,69.5,17,031,460301
1318,1109,945,85.2,899,81.1,28470,25.4,3322,237,7.1,2808,84.5,17,031,460302

In [28]:
acs5_aggregate()

,B01003_001E,B28002_004E,B28002_013E,B28003_002E,B28003_004E,B28003_005E,B28003_006E,state,county,tract
0,1825,392,149,426,392,34,149,17,31,630200
1,5908,1242,231,1411,1242,169,133,17,31,580700
2,3419,917,140,1068,917,140,104,17,31,590600
3,2835,917,138,1003,917,86,81,17,31,600700
4,1639,322,245,356,322,34,218,17,31,611900
...,...,...,...,...,...,...,...,...,...,...
1314,4088,1125,777,1556,1079,477,424,17,31,440101
1315,3473,1071,544,1326,1061,265,339,17,31,440102
1316,3012,1088,449,1260,1064,186,337,17,31,440202
1317,3634,888,223,959,864,95,195,17,31,460301
1318,3322,899,199,945,899,46,164,17,31,460302

In [29]:
acs5_profile()

,DP02_0001E,DP02_0152E,DP02_0152PE,DP02_0153E,DP02_0153PE,DP03_0062E,DP03_0119PE,DP05_0001E,DP05_0071E,DP05_0071PE,DP05_0078E,DP05_0078PE,state,county,tract
0,575,426,74.1,392,68.2,37422,25.7,1825,1622,88.9,0,0.0,17,31,630200
1,1544,1411,91.4,1242,80.4,47000,17.4,5908,4742,80.3,161,2.7,17,31,580700
2,1172,1068,91.1,917,78.2,46033,7.9,3419,2119,62.0,9,0.3,17,31,590600
3,1084,1003,92.5,917,84.6,45294,17.0,2835,850,30.0,82,2.9,17,31,600700
4,574,356,62.0,322,56.1,24507,55.0,1639,438,26.7,1175,71.7,17,31,611900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,1980,1556,78.6,1125,56.8,20404,37.7,4088,14,0.3,3966,97.0,17,31,440101
1315,1665,1326,79.6,1071,64.3,32047,27.2,3473,80,2.3,3138,90.4,17,31,440102
1316,1597,1260,78.9,1088,68.1,35795,21.3,3012,82,2.7,2851,94.7,17,31,440202
1317,1154,959,83.1,888,76.9,34483,33.8,3634,1040,28.6,2524,69.5,17,31,460301
1318,1109,945,85.2,899,81.1,28470,25.4,3322,237,7.1,2808,84.5,17,31,460302

In [12]:
fcc_fixed()

,logrecno,provider_id,frn,providername,dbaname,holdingcompanyname,hoconum,hocofinal,stateabbr,blockcode,techcode,consumer,maxaddown,maxadup,business
0,2315,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,170579531002013,50,1,250,250,1
1,2316,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,170579531002020,50,1,250,250,1
2,2317,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,170579531002032,50,1,250,250,1
3,2318,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,170679537001172,50,1,250,250,1
4,2319,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,170679543002003,50,1,250,250,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,3309,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,171090102001047,50,1,250,250,1
995,3310,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,171090102002071,50,1,250,250,1
996,3311,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,171090102001088,50,1,250,250,1
997,3312,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,171090102001106,50,1,250,250,1
998,3313,69558,2817500,McDonough Telephone Cooperative,McDonough Telephone Cooperative,McDonough Telephone Cooperative Inc.,130799,McDonough Telephone Cooperative Inc.,IL,171090103001003,50,1,250,250,1