In [1]:
from fetch_census_data import acs5_aggregate, acs5_individual, acs5_profile
from fetch_fcc_data import fcc_fixed

In [3]:
acs5_aggregate(force_api_call=True)

,B01003_001E,B28002_002E,B28002_013E,B28003_002E,B28003_006E,state,county,tract
0,1825,392,149,426,149,17,031,630200
1,5908,1242,231,1411,133,17,031,580700
2,3419,928,140,1068,104,17,031,590600
3,2835,917,138,1003,81,17,031,600700
4,1639,322,245,356,218,17,031,611900
...,...,...,...,...,...,...,...,...
1314,4088,1125,777,1556,424,17,031,440101
1315,3473,1071,544,1326,339,17,031,440102
1316,3012,1098,449,1260,337,17,031,440202
1317,3634,888,223,959,195,17,031,460301
1318,3322,899,199,945,164,17,031,460302

In [4]:
acs5_profile(force_api_call=True)

,DP02_0001E,DP02_0152E,DP02_0153E,DP03_0062E,DP03_0119PE,DP05_0001E,DP05_0071E,DP05_0078E,state,county,tract
0,575,426,392,37422,25.7,1825,1622,0,17,031,630200
1,1544,1411,1242,47000,17.4,5908,4742,161,17,031,580700
2,1172,1068,917,46033,7.9,3419,2119,9,17,031,590600
3,1084,1003,917,45294,17.0,2835,850,82,17,031,600700
4,574,356,322,24507,55.0,1639,438,1175,17,031,611900
...,...,...,...,...,...,...,...,...,...,...,...
1314,1980,1556,1125,20404,37.7,4088,14,3966,17,031,440101
1315,1665,1326,1071,32047,27.2,3473,80,3138,17,031,440102
1316,1597,1260,1088,35795,21.3,3012,82,2851,17,031,440202
1317,1154,959,888,34483,33.8,3634,1040,2524,17,031,460301
1318,1109,945,899,28470,25.4,3322,237,2808,17,031,460302

In [ ]:
fcc_fixed()